<%= simple_form_for @movies do |f| %>

<div class="field">
	<%= f.label :title %><br>
	<%= f.text_field :title %>
</div>


<div class="field">
	<%= f.label :description %><br>
	<%= f.text_field :description %>
</div>

<div class="field">
	<%= f.label :movie_length %><br>
	<%= f.text_field :movie_length %>
</div>


<div class="field">
	<%= f.label :director %><br>
	<%= f.text_field :director %>
</div>


<div class="actions">
	<%= f.submit %>
</div>

<% end %>